.system-object {
    border: 2px solid #616161;
    border-radius: 5px;
    background-color: #616161;
    color: #FFFFFF;
    margin: 3px;
}

.object-header {
    font-size: 1.3em;
    border-bottom: 1px solid #616161;
}

.object-group {
    background-color: #FFFFFF;
    color: #000000;
    width: inherit;
    padding-left: 30px;
    border-bottom: 1px solid #616161;
 }

.object-attribute {
    width: inherit;
    padding-left: 30px;
}

.attribute-type {
    color: #F44336;
    padding-left: 25px;
}
